* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Aboutcontainer .container header {
  padding: 2em;
}

.Aboutcontainer .container header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Aboutcontainer .container header nav .brand {
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.Aboutcontainer .container header nav span {
  color: #835CF4;
}

.Aboutcontainer .container header nav .toggle {
  right: 30px;
  font-size: 28px;
}

.Aboutcontainer .container header nav .toggle a {
  color: black;
  text-decoration: none;
}

.Aboutcontainer .container header nav .liContainer {
  background: white;
  padding: 10px;
  position: fixed;
  right: 30px;
  margin-top: 30px;
  width: 20vw;
  display: none;
}

.Aboutcontainer .container header nav .liContainer a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.Aboutcontainer .container header nav .liContainer a li {
  list-style: none;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(116, 116, 116, 0.425);
}

.Aboutcontainer .container header nav .liContainer a li:hover {
  background: #835CF4;
  color: white;
}

.Aboutcontainer .container header nav .active {
  display: block;
}

.Aboutcontainer .container .aboutShowcase {
  margin-top: 5em;
}

.Aboutcontainer .container .aboutShowcase h1 {
  text-align: center;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
}

.Aboutcontainer .container .aboutShowcase .about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  padding: 2em;
  margin-top: 1em;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}

.Aboutcontainer .container .aboutShowcase .about .detailsContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.Aboutcontainer .container .aboutShowcase .about .detailsContainer .details {
  font-family: 'Roboto', sans-serif;
  background: #C4C4C4;
  padding: 50px;
  margin: 5px;
}

.Aboutcontainer .container .aboutShowcase .about .detailsContainer .details h2 {
  color: #835CF4;
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
}

.Aboutcontainer .container .aboutShowcase .about .detailsContainer .details p {
  color: black;
  margin-top: 5px;
  text-align: center;
}

.Aboutcontainer .container .aboutShowcase .about .aboutMe {
  margin-left: 20px;
  font-family: 'Roboto', sans-serif;
  margin-top: 8px;
}

.Aboutcontainer .container .aboutShowcase .about .aboutMe .firstLine p {
  font-weight: bold;
  font-size: 12px;
}

.Aboutcontainer .container .aboutShowcase .about .aboutMe .firstLine h1 {
  font-size: 50px;
  width: 100%;
  text-align: left;
}

.Aboutcontainer .container .aboutShowcase .about .aboutMe .firstLine .span {
  width: 80%;
  margin: 30px 0;
  font-size: 18px;
  color: #9A9292;
}

.Aboutcontainer .container .aboutShowcase .about .aboutMe .secondLine {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.Aboutcontainer .container .aboutShowcase .about .aboutMe .secondLine p {
  font-weight: bold;
  margin-top: 5px;
}

.Aboutcontainer .container .aboutShowcase .about .aboutMe .secondLine p span {
  font-weight: 600;
  margin-left: 15px;
  color: #835CF4;
}

.Aboutcontainer .container .aboutShowcase .about .aboutMe .secondLine p:nth-child(2),
.Aboutcontainer .container .aboutShowcase .about .aboutMe .secondLine p:nth-child(4) {
  margin-left: 10px;
}

.Aboutcontainer .container .aboutShowcase .about .aboutMe button {
  padding: 15px;
  margin-top: 30px;
  background: #835CF4;
  border: 0;
}

.Aboutcontainer .container .aboutShowcase .about .aboutMe button a {
  color: white;
  text-decoration: none;
}

.Aboutcontainer .container .skillsContainer {
  margin-top: 10em;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
}

.Aboutcontainer .container .skillsContainer .short {
  text-align: center;
}

.Aboutcontainer .container .skillsContainer .short p {
  font-weight: 1000;
  color: #835CF4;
}

.Aboutcontainer .container .skillsContainer .short h1 {
  margin-top: 10px;
}

.Aboutcontainer .container .skillsContainer .skillsBarContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  margin-top: 2em;
}

.Aboutcontainer .container .skillsContainer .skillsBarContainer .skillsBar {
  margin: 10px;
}

.Aboutcontainer .container .skillsContainer .skillsBarContainer .skillsBar .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 15px;
}

.Aboutcontainer .container .skillsContainer .skillsBarContainer .skillsBar .skills:not(:last-child) {
  margin-top: 20px;
}

.Aboutcontainer .container .skillsContainer .skillsBarContainer .skillsBar .bar {
  position: relative;
  border: 2px solid #835CF4;
  width: 100%;
  border-radius: 20px;
  margin-top: 10px;
}

.Aboutcontainer .container .skillsContainer .skillsBarContainer .skillsBar .bar div {
  position: relative;
  width: 0;
  height: 9px;
  border-radius: 10px;
  background: #835CF4;
}

.Aboutcontainer .container .skillsContainer .skillsBarContainer .skillsBar .bar .abobe {
  -webkit-animation: abobe 2s forwards;
          animation: abobe 2s forwards;
}

.Aboutcontainer .container .skillsContainer .skillsBarContainer .skillsBar .bar .figma {
  -webkit-animation: figma 2s forwards;
          animation: figma 2s forwards;
}

.Aboutcontainer .container .skillsContainer .skillsBarContainer .skillsBar .bar .javascript {
  -webkit-animation: javascript 2s forwards;
          animation: javascript 2s forwards;
}

.Aboutcontainer .container .skillsContainer .skillsBarContainer .skillsBar .bar .html {
  -webkit-animation: html 2s forwards;
          animation: html 2s forwards;
}

.Aboutcontainer .container .skillsContainer .skillsBarContainer .skillsBar .bar .css {
  -webkit-animation: css 2s forwards;
          animation: css 2s forwards;
}

.Aboutcontainer .container .skillsContainer .skillsBarContainer .skillsBar .bar .django {
  -webkit-animation: css 2s forwards;
          animation: css 2s forwards;
}

.Aboutcontainer .container .skillsContainer .skillsBarContainer .skillsBar .bar .python {
  -webkit-animation: css 2s forwards;
          animation: css 2s forwards;
}

.Aboutcontainer .container .projectContianer {
  background: #835CF4;
  margin-top: 10%;
  padding: 2em;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.Aboutcontainer .container .projectContianer .projects {
  margin-top: 2em;
}

.Aboutcontainer .container .projectContianer .projects .projectcontainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  padding: 2em;
}

.Aboutcontainer .container .projectContianer .projects .projectcontainer .projectImg {
  width: 100%;
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.Aboutcontainer .container .projectContianer .projects .projectcontainer #beyond {
  background: url("../image/beyond.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.Aboutcontainer .container .projectContianer .projects .projectcontainer #keyboardDetector {
  background-image: url("../image/keyboard-Dectector.png");
}

.Aboutcontainer .container .projectContianer .projects .projectcontainer #band {
  background-image: url("../image/Band.png");
}

.Aboutcontainer .container .projectContianer .projects .projectcontainer #justBe {
  background-image: url("../image/justNe.png");
}

.Aboutcontainer .container .projectContianer .projects .projectcontainer .projectText {
  margin-left: 50px;
}

.Aboutcontainer .container .projectContianer .projects .projectcontainer .projectText p {
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 30px;
  font-size: 18px;
}

.Aboutcontainer .container .projectContianer .projects .projectcontainer .projectText button {
  margin-left: 0;
}

.Aboutcontainer .container .projectContianer .projects .projectcontainer .projectText .viewLive {
  padding: 10px;
  margin-top: 30px;
  background: transparent;
  border-radius: 10px;
  border: 1px solid white;
  cursor: pointer;
}

.Aboutcontainer .container .projectContianer .projects .projectcontainer .projectText .viewLive a {
  color: white;
  text-decoration: none;
}

.Aboutcontainer .container .projectContianer button {
  padding: 10px;
  margin-left: 30px;
  background: transparent;
  border-radius: 10px;
  border: 1px solid white;
  cursor: pointer;
}

.Aboutcontainer .container .projectContianer button a {
  color: white;
  text-decoration: none;
}

.Aboutcontainer .container .contact {
  padding: 2em;
  margin-top: 20px;
}

.Aboutcontainer .container .contact .contactContainer form input, .Aboutcontainer .container .contact .contactContainer form textarea {
  display: block;
  padding: 20px;
  width: 90%;
  font-size: 18px;
  margin-top: 10px;
}

.Aboutcontainer .container .contact .contactContainer form button {
  background: #835CF4;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  border: 0;
  color: white;
}

.Aboutcontainer .container footer {
  padding: 2em;
  background: #1C1C1C;
}

.Aboutcontainer .container footer .footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
}

.Aboutcontainer .container footer .footerContainer .leftSide h3 {
  margin-top: 20px;
}

.Aboutcontainer .container footer .footerContainer .leftSide p {
  margin-top: 20px;
  width: 50%;
  line-height: 23px;
}

.Aboutcontainer .container footer .footerContainer .leftSide .socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.Aboutcontainer .container footer .footerContainer .leftSide .socialIcons .icon {
  margin-left: 20px;
}

.Aboutcontainer .container footer .footerContainer .leftSide .socialIcons .icon a {
  color: white;
}

.Aboutcontainer .container footer .footerContainer .leftSide .socialIcons .icon .fab {
  font-size: 30px;
}

.Aboutcontainer .container footer .footerContainer .rightSide .telephone p {
  margin-top: 10px;
}

.Aboutcontainer .container footer .footerContainer .rightSide .location {
  margin-top: 20px;
}

.Aboutcontainer .container footer .footerContainer .rightSide .hours {
  margin-top: 20px;
}

.Aboutcontainer .container footer .footerContainer .rightSide .hours p {
  margin-top: 10px;
}

@media (max-width: 920px) {
  .Aboutcontainer .container .aboutShowcase .about .aboutMe .secondLine {
    display: block;
  }
  .Aboutcontainer .container .aboutShowcase .about .aboutMe .secondLine p {
    margin-top: 15px;
  }
  .Aboutcontainer .container .aboutShowcase .about .aboutMe .secondLine p:nth-child(2),
  .Aboutcontainer .container .aboutShowcase .about .aboutMe .secondLine p:nth-child(4) {
    margin-left: 0px;
  }
}

@media (max-width: 768px) {
  .Aboutcontainer .container header nav .liContainer {
    width: 35%;
  }
  .Aboutcontainer .container .aboutShowcase .about {
    padding: 1em;
    display: block;
  }
  .Aboutcontainer .container .aboutShowcase .about .detailsContainer {
    margin-left: 0;
    display: block;
    width: 100%;
  }
  .Aboutcontainer .container .aboutShowcase .about .detailsContainer .details {
    padding: 20px;
  }
  .Aboutcontainer .container .aboutShowcase .about .detailsContainer .details h2 {
    margin-top: 10px;
  }
  .Aboutcontainer .container .aboutShowcase .about .aboutMe {
    margin-top: 20px;
  }
  .Aboutcontainer .container .skillsContainer {
    padding: 1em;
  }
  .Aboutcontainer .container .skillsContainer .skillsBarContainer {
    display: block;
    margin-top: 5em;
  }
  .Aboutcontainer .container .skillsContainer .skillsBarContainer .skillsBar {
    margin-top: 30px;
  }
  .Aboutcontainer .container .projectContianer {
    padding: 1em;
  }
  .Aboutcontainer .container .projectContianer .projectHeading h1 {
    margin-top: 30px;
  }
  .Aboutcontainer .container .projectContianer .projects {
    padding: 1em;
  }
  .Aboutcontainer .container .projectContianer .projects .projectcontainer {
    display: block;
    padding: 0;
  }
  .Aboutcontainer .container .projectContianer .projects .projectcontainer .projectText {
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .Aboutcontainer .container .projectContianer .projects .projectcontainer .projectText button {
    margin-left: 0;
  }
}

@-webkit-keyframes abobe {
  100% {
    width: 90%;
  }
}

@keyframes abobe {
  100% {
    width: 90%;
  }
}

@-webkit-keyframes figma {
  100% {
    width: 95%;
  }
}

@keyframes figma {
  100% {
    width: 95%;
  }
}

@-webkit-keyframes javascript {
  100% {
    width: 75%;
  }
}

@keyframes javascript {
  100% {
    width: 75%;
  }
}

@-webkit-keyframes html {
  100% {
    width: 80%;
  }
}

@keyframes html {
  100% {
    width: 80%;
  }
}

@-webkit-keyframes css {
  100% {
    width: 80%;
  }
}

@keyframes css {
  100% {
    width: 80%;
  }
}

@-webkit-keyframes python {
  100% {
    width: 80%;
  }
}

@keyframes python {
  100% {
    width: 80%;
  }
}
/*# sourceMappingURL=style.css.map */