*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box
}

.Aboutcontainer{

    .container{

        header{
            padding: 2em;
            nav{
                display: flex;
                justify-content: space-between;

                .brand{
                    font-size: 30px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: bold;
                    margin-top: 10px;
                }

                span{
                    color: #835CF4;
                    position: relative;
                }

                span::after{
                    width: 1.8em;
                    height: 3px;
                    background: black;
                    position: absolute;
                    content: '';
                    left: 0;
                    bottom: 0;
                }

                .scrollDown{
                    right: 30px;
                    font-size: 20px;
                    border: 3px solid #1C1C1C;
                    padding: 10px;
                    border-radius: 10px;
                    cursor: pointer;

                    a{
                        color: black;
                        font-family: 'Roboto', sans-serif;
                        text-decoration: none;
                    }
                }

                .scrollDown:hover{
                    background: #1C1C1C;
                    transition: 2s;

                    a{
                        color: white;
                    }
                }

                .liContainer{
                    background: white;
                    padding: 10px;
                    position: fixed;
                    right: 30px;
                    margin-top: 30px;
                    width: 20vw;
                    display: none;

                    a{
                        font-size: 20px;
                        color: black;
                        text-decoration: none;
                        font-family: 'Roboto', sans-serif;


                        li{
                            list-style: none;
                            padding: 10px 20px;
                            border-bottom: 1px solid rgba(116, 116, 116, 0.425);
                        }

                        li:hover{
                            background:#835CF4;
                            color: white;
                        }
                    }
                }

                .active{
                    display: block;
                }
            }

        }

        .aboutShowcase{
            margin-top: 5em;
            h1{
                text-align: center;
                font-weight: bold;
                font-family: 'Roboto', sans-serif;
                font-size: 35px;
            }

            .about{
                display: grid;
                grid-template-columns: auto auto;
                padding: 2em;
                margin-top: 1em;
                max-width: 1250px;
                margin-left: auto;
                margin-right: auto;

                .detailsContainer{
                    display: grid;
                    grid-template-columns: auto auto;
                    .details{
                        font-family: 'Roboto', sans-serif;
                        background: #C4C4C4;
                        padding: 50px;
                        margin: 5px;
                        
                        h2{
                            color: #835CF4;
                            text-align: center;
                            font-size: 40px;
                            margin-top: 20px;
                        }

                        p{
                            color: black;
                            margin-top: 5px;
                            text-align: center;
                        }
                    }
                }

                .aboutMe{
                    margin-left: 20px;
                    font-family: 'Roboto', sans-serif;
                    margin-top: 8px;
                    .firstLine{
                        p{
                            font-weight: bold;
                            font-size: 12px;
                        }

                        h1{
                            font-size: 50px;
                            width: 100%;
                            text-align: left;
                        } 

                        .span{
                            width: 80%;
                            margin: 30px 0;
                            font-size: 18px;
                            color: #9A9292;
                        }
                    }

                    .secondLine{
                        display: grid;
                        grid-template-columns: auto auto;

                        p{
                            font-weight: bold;
                            margin-top: 5px;
                           
                            span{
                                font-weight: 600;
                                margin-left: 15px;
                                color: #835CF4;
                            }
                        }

                        p:nth-child(2),
                        p:nth-child(4){
                            margin-left: 10px;
                        }
                    }

                    button{
                        padding: 15px;
                        margin-top: 30px;
                        background: #835CF4;
                        border: 0;

                        a{
                            color: white;
                            text-decoration: none;
                        }
                    }
                    
                }
            }
        }

        .skillsContainer{
            margin-top: 10em;
            max-width: 1250px;
            margin-left: auto;
            margin-right: auto;
            font-family: 'Roboto', sans-serif;
            

            .short{
                text-align: center;
                p{
                    font-weight: 1000;
                    color: #835CF4;
                }
    
                h1{
                    margin-top: 10px;
                }
            }

            .skillsBarContainer{
                display: grid;
                grid-template-columns: auto auto auto;
                margin-top: 2em;

                .skillsBar{
                    margin: 10px;
                    .skills{
                        display: flex;
                        justify-content: space-between;
                        font-size: 15px;
                    }

                    .skills:not(:last-child){
                        margin-top: 20px;
                    }

                    .bar{
                        position: relative;
                        border: 2px solid #835CF4;
                        width: 100%;
                        border-radius: 20px;
                        margin-top: 10px;

                        div{
                            position: relative;
                            width: 0;
                            height: 9px;
                            border-radius: 10px;
                            background: #835CF4;
                        }

                        .abobe{
                            animation: abobe 2s forwards;
                        }

                        .figma{
                            animation: figma 2s forwards;
                        }

                        .javascript{
                            animation: javascript 2s forwards;
                        }

                        .html{
                            animation: html 2s forwards;
                        }

                        .css{
                            animation: css 2s forwards;
                        }

                        .django{
                            animation: css 2s forwards;
                        }

                        .python{
                            animation: css 2s forwards;
                        }
                    }
                }
            }
        }

        .projectContianer{
            background: #835CF4;
            margin-top: 10%;
            padding: 2em;
            color: white;
            font-family: 'Roboto', sans-serif;

            .projects{
                margin-top: 2em;

                .projectcontainer{
                    display: grid;
                    grid-template-columns: 50% 50%;
                    padding: 2em;

                    .projectImg{
                        width: 100%;
                        height: 50vh;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }

                    #beyond{
                        background: url("../image/beyond.png");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }

                    #keyboardDetector{
                        background-image: url("../image/keyboard-Dectector.png");
                    }

                    #band{
                        background-image: url("../image/Band.png");
                    }

                    #justBe{
                        background-image: url("../image/justNe.png");
                        margin-top: 50px;
                    }

                    .projectText{
                        margin-left: 50px;

                        p{
                            margin-top: 30px;
                            font-family: Arial, Helvetica, sans-serif;
                            line-height: 30px;
                            font-size: 18px;
                        }

                        button{
                            margin-left: 0;
                        }


                        .viewLive{
                            padding: 10px;
                            margin-top: 30px;
                            background: transparent;
                            border-radius: 10px;
                            border: 1px solid white;
                            cursor: pointer;

                            a{
                                color: white;
                                text-decoration: none;
                            }
                        }
                    }

                }

            }

            button{
                padding: 10px;
                margin-left: 30px;
                background: transparent;
                border-radius: 10px;
                border: 1px solid white;
                cursor: pointer;

                a{
                    color: white;
                    text-decoration: none;
                }
            }

        }

        .contact{   
            padding: 2em;
            margin-top: 20px;

            .contactContainer{
                form{
                
                    input,textarea{
                        display: block;
                        padding: 20px;
                        width: 90%;
                        font-size: 18px;
                        margin-top: 10px;
                    }

                    button{
                        background: #835CF4;
                        margin-top: 20px;
                        padding: 20px;
                        border-radius: 10px;
                        border: 0;
                        color: white;
                    }

                }
            }
        }
    }   

    footer{
        background: #1C1C1C;
        padding: 2em;
        font-family: 'Roboto', sans-serif;

        .footerContainer{
            color: white;
            display: flex;
            margin-top: 30px;

            .leftSide{

                h3{
                    margin-top: 30px;
                }

                p{
                    margin-top: 10px;
                }

                .socialIcons{
                    display: flex;
                    margin-top: 20px;

                    .icon{
                        font-size: 30px;

                        a{
                            color: white;
                        }
                    }

                    .icon:nth-child(2),
                    .icon:nth-child(3){
                        margin-left: 10px;
                    }
                }
            }

            .rightSide{

                .telephone{
                    
                    p{
                        margin-top: 5px;
                    }
                }

                .location{
                    margin-top: 20px;
                }

                .hours{
                    margin-top: 20px;

                    p{
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}

@media(max-width: 920px){
    .Aboutcontainer{

        .container{
            .aboutShowcase{

                .about{

                    .aboutMe{

                        .secondLine{
                            display: block;

                            p{
                                margin-top: 15px;
                            }

                            p:nth-child(2),
                            p:nth-child(4){
                                margin-left: 0px;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media(max-width: 768px){
    .Aboutcontainer{

        .container{

            header{
                nav{

                    .liContainer{
                        width: 35%;
                    }
                }
            }
            
            .aboutShowcase{

                .about{
                    padding: 1em;
                    display: block;

                    .detailsContainer{                     
                        margin-left: 0;
                        display: block;
                        width: 100%;
                        
                        .details{
                            padding: 20px;

                            h2{
                                margin-top: 10px;
                            }
                        }
                    }
                     .aboutMe{
                        margin-top: 20px;
                    }
                }
            }

            .skillsContainer{
                padding: 1em;


                .skillsBarContainer{
                    display: block;
                    margin-top: 5em;

                    .skillsBar{
                        margin-top: 30px;
                    }
                }

                
            }

            .projectContianer{
                padding: 1em;

                .projectHeading{
                    h1{
                        margin-top: 30px;
                    }
                }

                .projects{
                    padding: 1em;

                    .projectcontainer{
                        display: block;
                        padding: 0;

                        .projectText{
                            margin-left: 0px;
                            margin-top: 10px;
                            margin-bottom: 10px;

                            button{
                                margin-left: 0;
                            }
                        }
                    }
                }

            }
        }

    }


    footer{

        .footerContainer{
            
            .rightSide{
                display: none;
            }
            
        }
    }
}


@keyframes abobe{
    100%{
        width: 90%;
    }
}

@keyframes figma{
    100%{
        width: 95%;
    }
}

@keyframes javascript{
    100%{
        width: 75%;
    }
}

@keyframes html{
    100%{
        width: 80%;
    }
}

@keyframes css{
    100%{
        width: 80%;
    }
}

@keyframes python{
    100%{
        width: 80%;
    }
}